body {
    background-color: #e9ebec;
}

h1{
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    font-size: 55px;
    margin: 25px;
    
}


.border{
    position: fixed;
    background-color: #92516d;
    z-index: 10;
    border-radius: 50px;

}

.top{
    top: 15px;
    left: 15px;
    right: 15px;
    height: 10px;
    

}
.bottom{
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: 10px;
}

.left {
    top: 15px; 
    bottom: 15px; 
    left: 15px;
    width: 10px; 
}

.right{
    top: 15px;
    bottom: 15px;
    right: 15px;
    width: 10px;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

button{
    border-radius: 50px;
    border: 2px solid #92516d;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    
}

.gridHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 20px auto; /* Center the container horizontally on the page */
    border: 2px solid black; /* Optional, for visibility */
    
}

.gridSquare {
    width: 29.25px;
    height: 29.25px;
    border: 2px solid black;  
    background-color: lightgray; 

    box-sizing: border-box;
  }